.container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 222px;
    height: 340px;
    position: relative;
    transition: 0.3s;

    .heart {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        opacity: 0;
    }


    .imgBox {
        width: 90%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 90%;
            height: 90%;
        }

    }

    .text {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title {
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            width: 70%;
        }


    }

    .btn {
        border: none;
        background-color: #FE7C7F;
        height: 12%;    
        width: 100%;
        opacity: 0;
    }

    &:hover {

        transition: 0.3s;
        box-shadow: 1px 1px 1px 1px rgba($color: black, $alpha: 0.2);

        .heart {
            animation: opacity 0.3s ease-in;
            opacity: 1;
        }

        .btn {
            animation: opacity 0.3s ease-in;
            opacity: 1;
        }
    }

}

@keyframes opacity {
    0% {
        opacity: 0;
    }


    60% {
        opacity: 0.5;
    }


    100% {
        opacity: 1;
    }

}